In [1]:
%load_ext sql

In [2]:
%sql sqlite://

'Connected: @None'

In [3]:
%%sql

CREATE TABLE stock_portfolio (
security_name varchar(100),
amount_usd float,
ytd_performance float);

 * sqlite://
Done.

[]

In [4]:
%%sql
INSERT INTO stock_portfolio VALUES ('alpha',100,12000);
INSERT INTO stock_portfolio VALUES('beta',200,15000);
INSERT INTO stock_portfolio VALUES(NULL,100,14000);
INSERT INTO stock_portfolio VALUES('gamma',300,12000);
INSERT INTO stock_portfolio VALUES(NULL,250,11000);
INSERT INTO stock_portfolio VALUES('exes',450,10000);
INSERT INTO stock_portfolio VALUES('bp',150,5000);
INSERT INTO stock_portfolio VALUES('hp',175,6000);
INSERT INTO stock_portfolio VALUES('ep',275,9000);
INSERT INTO stock_portfolio VALUES('ap',175,8000);

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM stock_portfolio

 * sqlite://
Done.

[('alpha', 100.0, 12000.0),
 ('beta', 200.0, 15000.0),
 (None, 100.0, 14000.0),
 ('gamma', 300.0, 12000.0),
 (None, 250.0, 11000.0),
 ('exes', 450.0, 10000.0),
 ('bp', 150.0, 5000.0),
 ('hp', 175.0, 6000.0),
 ('ep', 275.0, 9000.0),
 ('ap', 175.0, 8000.0)]

In [6]:
%%sql
SELECT security_name, ytd_performance, ytd_performance*100/(Select SUM(ytd_performance) From stock_portfolio) as percentages
FROM stock_portfolio
WHERE security_name IS NOT NULL
ORDER BY percentages DESC

 * sqlite://
Done.

[('beta', 15000.0, 14.705882352941176),
 ('alpha', 12000.0, 11.764705882352942),
 ('gamma', 12000.0, 11.764705882352942),
 ('exes', 10000.0, 9.803921568627452),
 ('ep', 9000.0, 8.823529411764707),
 ('ap', 8000.0, 7.8431372549019605),
 ('hp', 6000.0, 5.882352941176471),
 ('bp', 5000.0, 4.901960784313726)]